/* This file is for your main application css. */

@import "~milligram/dist/milligram";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.column > p {
    padding-top: 10ex;
    text-align: center;
}

#container {
    width: 400px;
    height: auto;
    float: left;
    padding-bottom: 3ex;
}

.column {
    padding-top: 3ex;
    text-align: center;
    padding-bottom: 3ex;
}

.rowScore {
    position: relative;
    display: flex;
    width: 30%;
    height: 40px;
    border-bottom: 1px solid #AFAFAF;
}

.name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
}
.score {
    position: relative;
    display: inline-block;
    width: 25%;
    line-height: 45px;
}

.readyButton {
    display: inline;
    margin-top: 5px;
    margin-left: 300px;
    float: left;
    background-color: #72DA86;
    border-color: #72DA86;
}

.time {
    float: right;
    font-size: 450%;
    font-family: Kefa;
    padding-bottom: 3mm;
    color: #696866;
}

.leftPlayer {
    float: left;
}

.rightPlayer {
    float: right;
}

.gameTitle {
    text-align: center;
    font-family: Kefa;
    color: cornflowerblue;
    display: inline;
    padding-right: 5px;
}

.player {
    font-family: "Lao MN";
    font-size: larger;
    color: darkolivegreen;
    margin: 0ex;
}

.row-button {
    positions: relative;
    display: flex;
}

.handoutButton {
    position: relative;
    left: 45%;
    background-color: orchid;
    border-color: orchid;
}

.firstLineInfo {
    color: #322E29;
    font-family: Kefa;
    font-size: large;
    padding-top: 3ex;
    padding-left: 5ex;
}

.chatterPlace {
    margin: 1ex;
    color: mediumpurple;
    font-family: Kefa;
}

ul {
    list-style-type: none;
    width: 200px;
    height: 200px;
    overflow: auto;
    color: mediumpurple;
    font-family: "Lucida Grande";
}