/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

#container {
    width: 600px;
    height: auto;
}

.rowScore {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #AFAFAF;
}

.name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
}
.score {
    position: relative;
    display: inline-block;
    width: 25%;
}