
<div class="row">
  <div class="column">
    <h1>Fight Against Landlord </h1>
      <%= form_for @conn, "/game", fn f -> %>
        			<p>Enter a room name: <%= text_input f, :name, placeholder: "demo" %></p>
        			<p><%= submit "Join Room"%></p>
        		<% end %>
  </div>
</div>
